body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

header h1 {
    font-size: 36px;
}

footer {
    background-color: #343a40;
}

footer h5 {
    color: #fff;
}

footer p {
    color: #bbb;
}

footer .footer-bottom {
    font-size: 14px;
}

footer img {
    max-width: 150px;
}

.navbar {
    background-color: #fff;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #DB7093;
}

button, .btn {
    background-color: #A020F0;
    border: none;
}

button:hover, .btn:hover {
    background-color: #0056b3;
}

.form-control, .form-select, .form-label {
    border-radius: 0.25rem;
}

.container h2 {
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

@media (max-width: 767px) {
    header h1 {
        font-size: 28px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
